.tooltip {
	position: absolute;
  padding: 8px;
  background: #616161;
  opacity: 0.5;
  font-size: 11px;
	color: #fff;
	z-index: 1000000;
}
.tooltip-arrow {
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 1000001;
	border-color: transparent;
	border-width: 5px;
}
.arrowup {
  bottom: 100%;
	left: 25%;
	margin-left: -5px;
	border-bottom-color: #616161;
}
.arrowdown {
  top: 100%;
	left: 50%;
	margin-left: -5px;
	border-top-color: #616161;
}
.arrowleft {
  right: 100%;
	top: 50%;
	margin-top: -5px;
	border-right-color: #616161;
}
.arrowright {
  left: 100%;
	top: 50%;
	margin-top: -5px;
	border-left-color: #616161;
}