.tooltip {
	position: absolute;
	background: white;
  border: 2px solid red;
  padding: 10px;
  z-index: 1000000;
}
.tooltip-arrow, 
.tooltip-arrow-border{
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/* ALL SHARED */
.tooltip-arrow {
	border-width: 12px;
}
.tooltip-arrow-border {
	border-width: 15px;
}

/* ARROW UP & DOWN SHARED */
.tooltip-arrow.arrow-up,
.tooltip-arrow.arrow-up-left,
.tooltip-arrow.arrow-up-right,
.tooltip-arrow.arrow-down,
.tooltip-arrow.arrow-down-left,
.tooltip-arrow.arrow-down-right {
	margin-left: -12px;
}
.tooltip-arrow-border.arrow-up,
.tooltip-arrow-border.arrow-up-left,
.tooltip-arrow-border.arrow-up-right,
.tooltip-arrow-border.arrow-down,
.tooltip-arrow-border.arrow-down-left,
.tooltip-arrow-border.arrow-down-right {
	margin-left: -15px;
}

/* ARROW RIGHT & LEFT SHARED */
.tooltip-arrow.arrow-right,
.tooltip-arrow.arrow-right-top,
.tooltip-arrow.arrow-right-bottom,
.tooltip-arrow.arrow-left,
.tooltip-arrow.arrow-left-top,
.tooltip-arrow.arrow-left-bottom {
	margin-top: -12px;
}
.tooltip-arrow-border.arrow-right,
.tooltip-arrow-border.arrow-right-top,
.tooltip-arrow-border.arrow-right-bottom,
.tooltip-arrow-border.arrow-left,
.tooltip-arrow-border.arrow-left-top,
.tooltip-arrow-border.arrow-left-bottom {
	margin-top: -15px;
}



/* ARROW UP */
.tooltip-arrow.arrow-up,
.tooltip-arrow.arrow-up-left,
.tooltip-arrow.arrow-up-right,
.tooltip-arrow-border.arrow-up,
.tooltip-arrow-border.arrow-up-left,
.tooltip-arrow-border.arrow-up-right {
  bottom: 100%;
	left: 50%;
}
.tooltip-arrow.arrow-up,
.tooltip-arrow.arrow-up-left,
.tooltip-arrow.arrow-up-right {
  border-bottom-color: white;
}
.tooltip-arrow-border.arrow-up,
.tooltip-arrow-border.arrow-up-left,
.tooltip-arrow-border.arrow-up-right {
  border-bottom-color: red;
}



/* ARROW DOWN */
.tooltip-arrow.arrow-down,
.tooltip-arrow.arrow-down-left,
.tooltip-arrow.arrow-down-right,
.tooltip-arrow-border.arrow-down,
.tooltip-arrow-border.arrow-down-left,
.tooltip-arrow-border.arrow-down-right {
	top: 100%;
	left: 50%;
}
.tooltip-arrow.arrow-down,
.tooltip-arrow.arrow-down-left,
.tooltip-arrow.arrow-down-right {
  border-top-color: white;
}
.tooltip-arrow-border.arrow-down,
.tooltip-arrow-border.arrow-down-left,
.tooltip-arrow-border.arrow-down-right {
  border-top-color: red;
}



/* ARROW RIGHT */
.tooltip-arrow.arrow-right,
.tooltip-arrow.arrow-right-top,
.tooltip-arrow.arrow-right-bottom,
.tooltip-arrow-border.arrow-right,
.tooltip-arrow-border.arrow-right-top,
.tooltip-arrow-border.arrow-right-bottom {
	left: 100%;
	top: 50%;
}
.tooltip-arrow.arrow-right,
.tooltip-arrow.arrow-right-top,
.tooltip-arrow.arrow-right-bottom {
  border-left-color: white;
}
.tooltip-arrow-border.arrow-right,
.tooltip-arrow-border.arrow-right-top,
.tooltip-arrow-border.arrow-right-bottom {
  border-left-color: red;
}

/* ARROW LEFT */
.tooltip-arrow.arrow-left,
.tooltip-arrow.arrow-left-top,
.tooltip-arrow.arrow-left-bottom,
.tooltip-arrow-border.arrow-left,
.tooltip-arrow-border.arrow-left-top,
.tooltip-arrow-border.arrow-left-bottom {
	right: 100%;
	top: 50%;
}
.tooltip-arrow.arrow-left,
.tooltip-arrow.arrow-left-top,
.tooltip-arrow.arrow-left-bottom {
  border-right-color: white;
}
.tooltip-arrow-border.arrow-left,
.tooltip-arrow-border.arrow-left-top,
.tooltip-arrow-border.arrow-left-bottom {
  border-right-color: red;
}
